.table-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

th, td {
  text-align: left;
  padding: 12px;
}

th {
  background-color: #6b89f4e1;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
